{% extends './base/base.html' %}
{% block bodys %}

                       <div class="nk-content">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">
                                                    کاربران /
                                                    <strong class="text-primary small">فرشید ترنیان</strong>
                                                </h3>
                                                <div class="nk-block-des text-soft">
                                                    <ul class="list-inline">
                                                        <li>شناسه کاربر: <span class="text-base">UD003054</span></li>
                                                        <li>
                                                            آخرین ورود:
                                                            <span class="text-base">21 آبان 1402 01:02 بعد از ظهر</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <a href="html/user-list-regular.html" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>بازگشت</span></a>
                                                <a href="html/user-list-regular.html" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <div class="card-aside-wrap">
                                                <div class="card-content">
                                                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" href="#"><em class="icon ni ni-user-circle"></em><span>شخصی</span></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#"><em class="icon ni ni-repeat"></em><span>تراکنش ها</span></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#"><em class="icon ni ni-file-text"></em><span>مدارک</span></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#"><em class="icon ni ni-bell"></em><span>اطلاع رسانی ها</span></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#"><em class="icon ni ni-activity"></em><span>فعالیت ها</span></a>
                                                        </li>
                                                        <li class="nav-item nav-item-trigger d-xxl-none">
                                                            <a href="#" class="toggle btn btn-icon btn-trigger" data-target="userAside"><em class="icon ni ni-user-list-fill"></em></a>
                                                        </li>
                                                    </ul>
                                                    <!-- .nav-tabs -->
                                                    <div class="card-inner">
                                                        <div class="nk-block">
                                                            <div class="nk-block-head">
                                                                <h5 class="title">اطلاعات شخصی</h5>
                                                                <p>
                                                                    اطلاعات پایه، مانند نام و نشانی شما، که در پلتفرم Nio استفاده می کنید.
                                                                </p>
                                                            </div>
                                                            <!-- .nk-block-head -->
                                                            <div class="profile-ud-list">
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">عنوان</span>
                                                                        <span class="profile-ud-value">آقای</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">نام کامل</span>
                                                                        <span class="profile-ud-value">فرشید ترنیان</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">تاریخ تولد</span>
                                                                        <span class="profile-ud-value">21 آبان 1373</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">نام مستعار</span>
                                                                        <span class="profile-ud-value">FarshidTRN</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">شماره تلفن همراه</span>
                                                                        <span class="profile-ud-value">09123456789</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">نشانی ایمیل</span>
                                                                        <span class="profile-ud-value">your@email.com</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- .profile-ud-list -->
                                                        </div>
                                                        <!-- .nk-block -->
                                                        <div class="nk-block">
                                                            <div class="nk-block-head nk-block-head-line">
                                                                <h6 class="title overline-title text-base">
                                                                    اطلاعات تکمیلی
                                                                </h6>
                                                            </div>
                                                            <!-- .nk-block-head -->
                                                            <div class="profile-ud-list">
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">تاریخ عضویت</span>
                                                                        <span class="profile-ud-value">1402/08/21 09:04 شب</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">روش ثبت نام</span>
                                                                        <span class="profile-ud-value">ایمیل</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">کشور</span>
                                                                        <span class="profile-ud-value">ایران</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">ملیت</span>
                                                                        <span class="profile-ud-value">ایرانی</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- .profile-ud-list -->
                                                        </div>
                                                        <!-- .nk-block -->
                                                        <div class="nk-divider divider md"></div>
                                                        <div class="nk-block">
                                                            <div class="nk-block-head nk-block-head-sm nk-block-between">
                                                                <h5 class="title">یادداشت مدیر</h5>
                                                                <a href="#" class="link link-sm">+ افزودن یادداشت</a>
                                                            </div>
                                                            <!-- .nk-block-head -->
                                                            <div class="bq-note">
                                                                <div class="bq-note-item">
                                                                    <div class="bq-note-text">
                                                                        <p>
                                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
                                                                        </p>
                                                                    </div>
                                                                    <div class="bq-note-meta">
                                                                        <span class="bq-note-added">
                                                                            Added on
                                                                            <span class="date">18 آبان 1402</span>
                                                                            at <span class="time">5:34 بعد از ظهر</span>
                                                                        </span>
                                                                        <span class="bq-note-sep sep">|</span>
                                                                        <span class="bq-note-by">توسط <span>سافت نیو</span></span>
                                                                        <a href="#" class="link link-sm link-danger">حذف یادداشت</a>
                                                                    </div>
                                                                </div>
                                                                <!-- .bq-note-item -->
                                                                <div class="bq-note-item">
                                                                    <div class="bq-note-text">
                                                                        <p>
                                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
                                                                        </p>
                                                                    </div>
                                                                    <div class="bq-note-meta">
                                                                        <span class="bq-note-added">
                                                                            Added on
                                                                            <span class="date">18 آبان 1402</span>
                                                                            at <span class="time">5:34 بعد از ظهر</span>
                                                                        </span>
                                                                        <span class="bq-note-sep sep">|</span>
                                                                        <span class="bq-note-by">توسط <span>سافت نیو</span></span>
                                                                        <a href="#" class="link link-sm link-danger">حذف یادداشت</a>
                                                                    </div>
                                                                </div>
                                                                <!-- .bq-note-item -->
                                                            </div>
                                                            <!-- .bq-note -->
                                                        </div>
                                                        <!-- .nk-block -->
                                                    </div>
                                                    <!-- .card-inner -->
                                                </div>
                                                <!-- .card-content -->
                                                <div
                                                    class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl"
                                                    data-content="userAside"
                                                    data-toggle-screen="xxl"
                                                    data-toggle-overlay="true"
                                                    data-toggle-body="true"
                                                >
                                                    <div class="card-inner-group" data-simplebar>
                                                        <div class="card-inner">
                                                            <div class="user-card user-card-s2">
                                                                <div class="user-avatar lg bg-primary">
                                                                    <span>ف‌ت</span>
                                                                </div>
                                                                <div class="user-info">
                                                                    <div class="badge bg-outline-light rounded-pill ucap">
                                                                        سرمایه گذار
                                                                    </div>
                                                                    <h5>فرشید ترنیان</h5>
                                                                    <span class="sub-text">someone@email.com</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner card-inner-sm">
                                                            <ul class="btn-toolbar justify-center gx-1">
                                                                <li>
                                                                    <a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-shield-off"></em></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-mail"></em></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-download-cloud"></em></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-bookmark"></em></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="btn btn-trigger btn-icon text-danger"><em class="icon ni ni-na"></em></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner">
                                                            <div class="overline-title-alt mb-2">
                                                                در حساب
                                                            </div>
                                                            <div class="profile-balance">
                                                                <div class="profile-balance-group gx-4">
                                                                    <div class="profile-balance-sub">
                                                                        <div class="profile-balance-amount">
                                                                            <div class="number">
                                                                                2,500,000
                                                                                <small class="currency currency-usd">تومان</small>
                                                                            </div>
                                                                        </div>
                                                                        <div class="profile-balance-subtitle">
                                                                            مبلغ سرمایه گذاری شده
                                                                        </div>
                                                                    </div>
                                                                    <div class="profile-balance-sub">
                                                                        <span class="profile-balance-plus text-soft"><em class="icon ni ni-plus"></em></span>
                                                                        <div class="profile-balance-amount">
                                                                            <div class="number">164,000</div>
                                                                        </div>
                                                                        <div class="profile-balance-subtitle">
                                                                            سود به دست آمده
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner">
                                                            <div class="row text-center">
                                                                <div class="col-4">
                                                                    <div class="profile-stats">
                                                                        <span class="amount">23</span>
                                                                        <span class="sub-text">کل سفارش</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="profile-stats">
                                                                        <span class="amount">20</span>
                                                                        <span class="sub-text">کامل</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="profile-stats">
                                                                        <span class="amount">3</span>
                                                                        <span class="sub-text">پیشرفت</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner">
                                                            <h6 class="overline-title-alt mb-2">
                                                                اضافی
                                                            </h6>
                                                            <div class="row g-3">
                                                                <div class="col-6">
                                                                    <span class="sub-text">شناسه کاربر:</span>
                                                                    <span>UD003054</span>
                                                                </div>
                                                                <div class="col-6">
                                                                    <span class="sub-text">آخرین ورود:</span>
                                                                    <span>21 آبان 1402 01:02 بعد از ظهر</span>
                                                                </div>
                                                                <div class="col-6">
                                                                    <span class="sub-text">وضعیت احراز هویت مشتری:</span>
                                                                    <span class="lead-text text-success">تایید شده</span>
                                                                </div>
                                                                <div class="col-6">
                                                                    <span class="sub-text">ثبت نام در:</span>
                                                                    <span>21 آبان 1401</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner">
                                                            <h6 class="overline-title-alt mb-3">گروه ها</h6>
                                                            <ul class="g-1">
                                                                <li class="btn-group">
                                                                    <a class="btn btn-xs btn-light btn-dim" href="#">سرمایه گذار</a>
                                                                    <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                                </li>
                                                                <li class="btn-group">
                                                                    <a class="btn btn-xs btn-light btn-dim" href="#">پشتیبانی</a>
                                                                    <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                                </li>
                                                                <li class="btn-group">
                                                                    <a class="btn btn-xs btn-light btn-dim" href="#">برچسب دیگر</a>
                                                                    <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- .card-inner -->
                                                    </div>
                                                    <!-- .card-inner -->
                                                </div>
                                                <!-- .card-aside -->
                                            </div>
                                            <!-- .card-aside-wrap -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block menu %}
                         <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">

                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            منو
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/SA/Invoice" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
                                            <span class="nk-menu-text">سفارشات</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/SA/Pre_Invoice" class="nk-menu-link"><span class="nk-menu-text">سفارش های مشتری</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/SA/Invoice" class="nk-menu-link"><span class="nk-menu-text">فاکتور شده ها</span></a>
                                            </li>

                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="/SA/Customer" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                                            <span class="nk-menu-text">مشتریان</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/SA/Customer" class="nk-menu-link"><span class="nk-menu-text">لیست مشتریان</span></a>
                                            </li>

                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="/SA/Tickets" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-chat-circle"></em></span>
                                            <span class="nk-menu-text">تیکت ها</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/SA/Tickets" class="nk-menu-link"><span class="nk-menu-text">تیکت ها</span></a>
                                            </li>

                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>
{% endblock %}

{% block notification %}
                        <li class="dropdown notification-dropdown me-n1">
                                            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                                <div class="icon-status icon-status-info">
                                                    <em class="icon ni ni-bell"></em>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                                                <div class="dropdown-head">
                                                    <span class="sub-title nk-dropdown-title">اطلاع رسانی ها</span>
                                                    <a href="#">علامت گذاری همه به عنوان خوانده شده</a>
                                                </div>
                                                <div class="dropdown-body">
                                                    <div class="nk-notification">
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .nk-notification -->
                                                </div>
                                                <!-- .nk-dropdown-body -->
                                                <div class="dropdown-foot center">
                                                    <a href="#">مشاهده همه</a>
                                                </div>
                                            </div>
                                        </li>
{% endblock %}





