<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:1500px; height:1500px;">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
      {%for i in charts_list_data[0][1]%}
          '{{i[3]}}',
      {%endfor%}
      ];

  const data = {
    labels: labels,
    datasets: [

    {%for i in charts_list_data%}
        {
          label: '{{i[0][1]}}',
          backgroundColor: 'rgb({{(i[0][0]*i[0][0]%255)}}, {{(i[0][0]*i[0][0]%255-50)}}, {{(i[0][0]*i[0][0]%255+10)}})',
          borderColor: 'rgb({{(i[0][0]*i[0][0]%255)}}, {{(i[0][0]*i[0][0]%255-50)}}, {{(i[0][0]*i[0][0]%255+10)}})',
          data: [
          {%for z in i[1]%}
              {{z[4]/i[1][0][4]}},
          {%endfor%}
          ],
        },
    {%endfor%}


    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</body>
</html>