<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="static/base/images/favicon.png" />
        <!-- Page Title  -->
        <title>چاپ فاکتور | قالب مدیریتی دش‌لایت</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="static/base/assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="static/base/assets/css/theme.css" />
    </head>

    <body class="has-rtl bg-white" onload="printPromot()" dir="rtl">
        <div class="nk-block">
            <div class="invoice invoice-print">
                <div class="invoice-wrap">

                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <div class="card-inner-group">
                                                <div class="card-inner p-0">
                                                    <div class="nk-tb-list">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col tb-col-sm"><span>نام</span></div>
                                                            <div class="nk-tb-col"><span>کد محصول</span></div>
                                                            <div class="nk-tb-col"><span>ایمالز</span></div>
                                                            <div class="nk-tb-col"><span>ترب</span></div>
                                                            <div class="nk-tb-col"><span>دیجیکالا</span></div>
                                                            <div class="nk-tb-col"><span>میانگین کل</span></div>



                                                        </div>
                                                        {%for i in main_data%}
                                                        <!-- .nk-tb-item -->
                                                        <div class="nk-tb-item">

                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="tb-product">
                                                                    <img src="./images/product/a.png" alt="" class="thumb" />
                                                                    <span class="title"> {{i[0][1]}}</span>
                                                                </span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-sub">{{i[0][0]}}</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead"><a href="{{i[0][2]}}"> {{i[1][0]}} تومان</a></span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead"><a href="https://torob.com/p/{{i[0][3]}}">{{i[2][0]}} تومان</a></span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead"><a href="https://www.digikala.com/product/dkp-{{i[0][4]}}/">{{i[3][0]}} تومان</a></span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead">{{i[4][0]}} تومان</span>
                                                            </div>


                                                        </div>
                                                        <!-- .nk-tb-item -->
                                                        {%endfor%}
                                                        <!-- .nk-tb-item -->
                                                    </div>
                                                    <!-- .nk-tb-list -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                    <!-- .invoice-bills -->
                </div>
                <!-- .invoice-wrap -->
            </div>
            <!-- .invoice -->
        </div>
        <!-- .nk-block -->
        <script>
            function printPromot() {
                window.print();
            }
        </script>
    </body>
</html>