{% extends './base/base.html' %}
{% block bodys %}

                     <div class="nk-content">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">فاکتور ها</h3>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                        </div>
                                        <!-- .nk-block-between -->
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <div class="card-inner-group">
                                                <div class="card-inner p-0">
                                                    <div class="nk-tb-list">
                                                        <div class="nk-tb-item nk-tb-head">

                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span>شماره فاکتور</span>
                                                            </div>
                                                            <div class="nk-tb-col"><span>خریدار</span></div>
                                                            <div class="nk-tb-col"><span>فروشنده</span></div>
                                                            <div class="nk-tb-col"><span>تاریخ</span></div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span>وضعیت</span>
                                                            </div>

                                                        </div>
                                                        <!-- .nk-tb-item -->
                                                        {% for i in pre_invoice_list%}
                                                        <div class="nk-tb-item">

                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="tb-product">
                                                                    <img src="./images/product/a.png" alt="" class="thumb" />
                                                                    <span class="title"><a href="/ACC/Invoice_details?P_ID={{i[0]}}">{{i[0]}}</a></span>
                                                                </span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <div class="user-card">
                                                                <div class="user-avatar user-avatar-sm bg-info">
                                                                    <em class="icon ni ni-user-alt"></em>
                                                                </div>
                                                                <span class="tb-lead">{{i[9]}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-lead">{{i[8]}}</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-sub">{{i[7]}}</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="tb-sub">{{i[5]}}</span>
                                                            </div>


                                                        </div>
                                                        {%endfor%}
                                                        <!-- .nk-tb-item -->

                                                        <!-- .nk-tb-item -->
                                                    </div>
                                                    <!-- .nk-tb-list -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block -->

                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block menu %}
                          <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">

                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            منو
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/ACC/Invoice" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
                                            <span class="nk-menu-text">فاکتور ها</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Pre_Invoice" class="nk-menu-link"><span class="nk-menu-text">پیش فاکتور</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Invoice" class="nk-menu-link"><span class="nk-menu-text">فاکتور</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Invoice_sended" class="nk-menu-link"><span class="nk-menu-text">ارسال شده</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <li class="nk-menu-item has-sub">
                                        <a href="/ACC/Tickets" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-chat-circle"></em></span>
                                            <span class="nk-menu-text">تیکت ها</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Tickets" class="nk-menu-link"><span class="nk-menu-text">تیکت ها</span></a>
                                            </li>

                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>
{% endblock %}

{% block notification %}
                        <li class="dropdown notification-dropdown me-n1">
                                            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                                <div class="icon-status icon-status-info">
                                                    <em class="icon ni ni-bell"></em>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                                                <div class="dropdown-head">
                                                    <span class="sub-title nk-dropdown-title">اطلاع رسانی ها</span>
                                                    <a href="#">علامت گذاری همه به عنوان خوانده شده</a>
                                                </div>
                                                <div class="dropdown-body">
                                                    <div class="nk-notification">
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .nk-notification -->
                                                </div>
                                                <!-- .nk-dropdown-body -->
                                                <div class="dropdown-foot center">
                                                    <a href="#">مشاهده همه</a>
                                                </div>
                                            </div>
                                        </li>
{% endblock %}





