{% extends './base/base.html' %}
{% block bodys %}
              <div class="nk-content">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head">
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">
                                                    فاکتور <strong class="text-primary small">شماره {{pre_invoice_data[0][1]}}</strong>
                                                </h3>
                                                <div class="nk-block-des text-soft">
                                                    <ul class="list-inline">
                                                        <li>
                                                            ایجاد شده در:
                                                            <span class="text-base">{{pre_invoice_lookup[0][7]}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <a href="/ACC/Invoice" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>بازگشت</span></a>
                                                <a href="/ACC/Invoice" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="invoice">
                                            <div class="invoice-action">
                                                <a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary" href="/ACC/invoice_print_it?id={{pre_invoice_data[0][1]}}" target="_blank"><em class="icon ni ni-printer-fill"></em></a>

                                            </div>
                                            <!-- .invoice-actions -->
                                            <div class="invoice-wrap">
                                                <div class="invoice-brand text-center">
                                                    <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="" />
                                                </div>
                                                <div class="invoice-head">
                                                    <div class="invoice-contact">
                                                        <span class="overline-title">فاکتور به </span>
                                                        <div class="invoice-contact-info">
                                                            <h4 class="title">{{customer_details[0][5]}}</h4>
                                                            <ul class="list-plain">
                                                                <li>
                                                                    <em class="icon ni ni-map-pin-fill"></em>
                                                                    <span>{{customer_details[0][14]}}
                                                                    </span>
                                                                </li>
                                                                <li><em class="icon ni ni-call-fill"></em><span>{{customer_details[0][3]}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="invoice-desc">
                                                        <h3 class="title">فاکتور</h3>
                                                        <ul class="list-plain">
                                                            <li class="invoice-id"><span>شناسه فاکتور داخلی</span>:<span>{{pre_invoice_data[0][1]}}</span></li>
                                                            <li class="invoice-date"><span>{{pre_invoice_lookup[0][7]}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- .invoice-head -->
                                                <div class="invoice-bills">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="w-150px">شناسه محصول</th>
                                                                    <th class="w-60">نام</th>
                                                                    <th>قیمت</th>
                                                                    <th>تعداد</th>
                                                                    <th>مبلغ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for i in range(0,len_code)%}
                                                                <tr>
                                                                    <td>{{pre_invoice_data[i][2]}}</td>
                                                                    <td>
                                                                        {{pre_invoice_data[i][14]}}
                                                                    </td>
                                                                    <td>{{pre_invoice_data[i][6]}}  ریال</td>
                                                                    <td>{{pre_invoice_data[i][3]}}</td>
                                                                    <td>{{pre_invoice_data[i][6]*pre_invoice_data[i][3]}} ریال</td>
                                                                </tr>
                                                            {%endfor%}
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td colspan="2"></td>
                                                                    <td colspan="2">جمع جزء</td>
                                                                    <td>{{total_price}} ریال</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"></td>
                                                                    <td colspan="2">کارمزد پردازش</td>
                                                                    <td>0 تومان</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"></td>
                                                                    <td colspan="2">مالیات</td>
                                                                    <td>0 تومان</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"></td>
                                                                    <td colspan="2">جمع کل</td>
                                                                    <td>{{total_price}} ریال</td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        <div class="nk-notes ff-italic fs-12px text-soft">
                                                            فاکتور در کامپیوتر ایجاد شده است و بدون امضا و مهر معتبر است.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- .invoice-bills -->
                                            </div>
                                            <!-- .invoice-wrap -->
                                        </div>
                                        <!-- .invoice -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
{% block menu %}
                      <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">

                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">
                                            منو
                                        </h6>
                                    </li>
                                    <!-- .nk-menu-heading -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="/ACC/Invoice" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
                                            <span class="nk-menu-text">فاکتور ها</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Pre_Invoice" class="nk-menu-link"><span class="nk-menu-text">پیش فاکتور</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Invoice" class="nk-menu-link"><span class="nk-menu-text">فاکتور</span></a>
                                            </li>
                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <li class="nk-menu-item has-sub">
                                        <a href="/ACC/Tickets" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-chat-circle"></em></span>
                                            <span class="nk-menu-text">تیکت ها</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/ACC/Tickets" class="nk-menu-link"><span class="nk-menu-text">تیکت ها</span></a>
                                            </li>

                                        </ul>
                                        <!-- .nk-menu-sub -->
                                    </li>

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                    <!-- .nk-menu-item -->

                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>
{% endblock %}
{% block notification %}
                        <li class="dropdown notification-dropdown me-n1">
                                            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                                <div class="icon-status icon-status-info">
                                                    <em class="icon ni ni-bell"></em>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                                                <div class="dropdown-head">
                                                    <span class="sub-title nk-dropdown-title">اطلاع رسانی ها</span>
                                                    <a href="#">علامت گذاری همه به عنوان خوانده شده</a>
                                                </div>
                                                <div class="dropdown-body">
                                                    <div class="nk-notification">
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما درخواست <span>برداشت</span> کردید</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>سفارش واریز</span> شما ثبت شد</div>
                                                                <div class="nk-notification-time">
                                                                    2 ساعت پیش
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .nk-notification -->
                                                </div>
                                                <!-- .nk-dropdown-body -->
                                                <div class="dropdown-foot center">
                                                    <a href="#">مشاهده همه</a>
                                                </div>
                                            </div>
                                        </li>
{% endblock %}









